body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.outerTable {
  border-radius: 50%;
  background-color: rgba(226, 53, 53, 0.726);
  height: 600px;
  width: 900px;
  position: relative;
}

.outerTable .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 2.5rem;
}

.innerTable {
  position: absolute;
  background-color: rgb(38, 134, 38);
  border-radius: 50%;
  height: 500px;
  width: 800px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 0.5em solid rgba(31, 112, 31, 0.541);
  outline: 1em solid rgba(39, 30, 22, 0.829);
  top: 50%;
  left: 50%;
  margin: -250px 0px 0px -400px;
}

.board {
  position: absolute;
  top: 40%;
  left: 30%;
}
.cardStyle-small {
  border: 0.2em solid black;
  border-radius: 10%;
  height: 80px;
  width: 56px; /*70% of height*/
  margin-right: 5px;
  float: left;
  background-color: white;
}

.dealer-btn {
  position: fixed;
  left: 41%;
  bottom: 5%;
  top: 60%;
  z-index: 1;
}

.loading {
  position: fixed;
  left: 45%;
  top: 20%;
}
