body {
  background-color: rgb(39, 39, 39);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.outerTable {
  border-radius: 50%;
  background-color: rgb(211, 119, 77);
  height: 550px;
  width: 850px;
  position: relative;
  justify-content: center;
  box-shadow: 0 0 100px rgba(236, 232, 196, 0.726);
}

.innerTable {
  position: absolute;
  background-color: rgb(38, 134, 38);
  border-radius: 50%;
  height: 500px;
  width: 800px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: inset 0 0 100px rgb(0, 0, 0);
  outline: 1.5em solid rgb(44, 44, 44);
  top: 50%;
  left: 50%;
  margin: -250px 0px 0px -400px;
}

.seat {
  z-index: 1;
  left: 100px;
  bottom: 300px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.seat.Player2 {
  bottom: 240px;
  left: 395px;
}

.seat.Player3 {
  bottom: 41px;
  left: 500px;
}

.seat.Player4 {
  top: 200px;
  left: 395px;
}

.seat.Player5 {
  left: 100px;
  top: 250px;
}

.seat.Player6 {
  top: 200px;
  left: -200px;
}

.seat.Player7 {
  bottom: 41px;
  left: -310px;
}

.seat.Player8 {
  bottom: 240px;
  left: -200px;
}

.board {
  position: absolute;
  top: 40%;
  left: 30%;
}

.dealer-btn {
  position: relative;
  left: 90px;

  top: 20px;
  z-index: 1;
}

.loading {
  font-weight: bold;
}

.description {
  justify-content: center;
  color: rgba(206, 206, 206, 0.876);
  font-size: 12px;
  text-align: center;
  padding: 13px;
  background-color: rgba(1, 10, 0, 0.541);
  width: 300px;
  border-radius: 10%;
  position: absolute;
  left: 10px;
  top: -100px;
}
