.tableStyles {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(38, 134, 38);
  height: 500px;
  width: 800px;
  border-radius: 50%;
  margin: 0 auto;
  border: 0.5em solid rgba(31, 112, 31, 0.541);
  outline: 1em solid rgba(39, 30, 22, 0.829);
  max-width: 100%;
}

.board {
  position: absolute;
  top: 40%;
  left: 30%;
}
.cardStyle-small {
  border: 0.2em solid black;
  border-radius: 10%;
  height: 80px;
  width: 56px; /*70% of height*/
  margin-right: 5px;
  float: left;
  background-color: white;
}

.dealer-button {
  position: fixed;
  left: 41%;
  bottom: 5%;
  top: 60%;
}

.loading {
  position: fixed;
  left: 43%;
  top: 20%;
}
