.playerInfo {
  justify-content: center;
  align-content: center;
  display: flex;
  border-radius: 50%;
  height: 100px;
  width: 200px;
  z-index: 1;
}

.playerName {
  color: rgb(0, 0, 0);
  font-weight: bold;
  position: absolute;
  top: 70px;
  left: 42.5px;
  padding-right: 2em;
  padding-left: 2em;
  border-radius: 10%;
}
