.playerInfo {
  color: rgb(223, 223, 223);
  justify-content: center;
  align-content: center;
  display: flex;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  z-index: 1;
  border: 6px dashed white;
  box-shadow: 0 0 0 2px rgba(255, 226, 59, 0.678) inset, 0 0 0 3px inset;
}

.playerInfo.Player1 {
  background-color: rgb(49, 49, 49);
}

.playerInfo.Player2 {
  background-color: rgb(189, 63, 63);
}

.playerInfo.Player3 {
  background-color: rgb(63, 97, 189);
}

.playerInfo.Player4 {
  background-color: rgb(29, 148, 35);
}

.playerInfo.Player5 {
  background-color: rgb(221, 221, 221);
  border: 6px dashed rgb(49, 49, 49);
  color: rgb(49, 49, 49);
}

.playerInfo.Player6 {
  background-color: rgb(29, 148, 35);
  border: 6px dashed rgb(49, 49, 49);
  color: rgb(49, 49, 49);
}

.playerInfo.Player7 {
  background-color: rgb(63, 97, 189);
  border: 6px dashed rgb(49, 49, 49);
  color: rgb(49, 49, 49);
}

.playerInfo.Player8 {
  background-color: rgb(189, 63, 63);
  border: 6px dashed rgb(49, 49, 49);
  color: rgb(49, 49, 49);
}

.playerName {
  font-weight: bold;
  position: absolute;
  top: 70px;
  border-radius: 10%;
}
